@page
@model IdentityServerHost.Pages.Home.Index

<div class="welcome-page">
    <ul>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a class="btn btn-primary" asp-page="/Account/LogOut/Index">LogOut</a></li>
        }
        else
        {
            <li><a class="btn btn-primary" asp-page="/Register/Index">Register</a></li>
            <li><a class="btn btn-primary" asp-page="/Account/Login/Index">Login</a></li>
        }
    </ul>
</div>
