.containerRegistrationPage {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    text-align:center;
    align-content:center;
    justify-content:center;
}

.Button {
    width:50%;
    display: inline-block;
    margin-top: 5px;
    padding: 4px 02px;
    background-color: orange;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align:center;
}


    .Button:hover {
        background-color: white;
        color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

