@page
@model IdentityServerHost.Pages.ExternalLogin.Callback

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login Processing</title>
</head>
<body>
    <div>
        <h2>Please wait, your authentication request is being processed...</h2>
    </div>
</body>
</html>
