@page
@model IdentityServerHost.Pages.ExternalLogin.Challenge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>External Login</title>
</head>
<body>
    <div>
        <h2>Login with External Provider</h2>
        <a href="/ExternalLogin/Challenge?scheme=Google">Login with Google</a><br>
    </div>
</body>
</html>
