.chatContainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    min-height: 820px;
    max-height:825px;
}
.MessagePage {
    max-height: 100%;
    max-width:100%;
}
.LeftSide {
    width: 20%;
    min-width:20%;
    margin-right: 25px;
}

.RightSide {
    display:flex;
    max-width:100%;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 8px;
    background-color: lightgrey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    max-width: 100%;
    margin-bottom: 20px;
    transition: filter 0.2s ease;
}

    .contact:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        filter: brightness(88%);
    }

    .contact.active {
        background-color: #f0f0f0;
        border-left: 10px solid darkgrey;
        filter: brightness(90%);
    }

.contactimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
    transition: filter 0.1s ease;
}

    .contactimage:hover {
        cursor: pointer;
        border-radius: 40%;
    }

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

    .info > div {
        font-size: 13px;
        color: black;
    }

        .info > div:first-child {
            font-weight: bold;
            color: black;
        }

        .info > div:nth-child(2) {
            color: black;
        }

        .info > div:last-child {
            color: black;
            font-size: 13px;
            max-width: 70%;
        }


.info_up {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
