@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.search-input-navBar {
    height: 100%;
    max-width: 660px;
    width: 660px;
    max-height: 60px;
    color: #717171;
    background-color: #DBDBDB;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 55px;
}

    .search-input-navBar::placeholder {
        color: #717171;
    }

    .search-input-navBar:focus {
        border-color: #717171;
    }


    .search-input-navBar::-webkit-search-decoration,
    .search-input-navBar::-webkit-search-cancel-button,
    .search-input-navBar::-webkit-search-results-button,
    .search-input-navBar::-webkit-search-results-decoration {
        display: none; 
    }

.search-results {
    display: flex;
    flex-direction: column;
}
.SearchContainer {
    margin-right: 50px;
    max-width: 660px;
}
.LeftBar_Up{
    justify-content:center;
}
.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    z-index: 999;
}


    .user-item:hover {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
.user-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.NavBarMenuUnAuth {
    display: flex;
    justify-content: flex-end;
    margin: 35px 40px 35px 0
}

.NavBarButton_Login, .NavBarButton_Registration {
    padding: 10px 20px;

    border: none;
    border-radius: 12%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: 5px;
    outline: none;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.NavBarButton_Login {
    border: 2px solid orange;
    background-color: orange;
    color: white;
}

    .NavBarButton_Login:hover {
        color:orange;
        background-color: transparent;
    }

.NavBarButton_Registration {
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}

    .NavBarButton_Registration:hover {
        background-color: orange; 
        color: white; 
    }

.NavBarMenuUnAuth {
    display: flex;
    justify-content: flex-end;
}

.NavBarMenuUnAuth,
.NavBarMenu {
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: start; 
    margin: 25px 40px 25px 0
}

.NavBarButton, .NavBarButton.active {
    display: flex; 
    align-items: center; 
   
}

.NavBarButton, .NavBarButton.active {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.NavBarAvatar {
    object-fit: cover;
    margin-left: 15px;
    max-height: 60px;
    max-width: 60px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 0.2s ease;
}

    .NavBarAvatar:hover {
        filter: brightness(75%); 
    }

.NavProfile {
     margin-top: 0; 
}