@page
@model IdentityServer.WebApi.Pages.ConfirmEmail.IndexModel
@{

    <h2>Confirm Email</h2>

    <div>
        <p>@Model.StatusMessage</p>
    </div>

    <a href="/Account/Login" class="btn btn-secondary">Login</a>
}
